<div class="navbar-inner">
    <div class="container-fluid">
        <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="nav">
            <li>
                <a class="brand" href="/">
                    <img src="/assets/img/favicon.ico" width="20px" style="height: 20px !important; margin-top: -3px" alt="">
                    @Messages("application.name")
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="icon-home"></i>
                    <span>Article Parser</span>
                </a>
            </li>
            <li>
                <a href="/extractor">
                    <i class="icon-music"></i>
                    <span>Html Extractor</span>
                </a>
            </li>
            <li>
                <a href="/about">
                    <i class="icon-user"></i>
                    <span>About</span>
                </a>
            </li>
        </ul>
    </div>
</div>