@import partials._

<!DOCTYPE html>
<html>
<head>
    <title>@Messages("application.title")</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico">

    <!--Style Sheet-->
    <link rel="stylesheet" media="screen" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/assets/css/home.css">
</head>
<body>

<div id="topmenu" class="navbar navbar-fixed-top">
    @navbar()
</div>

<div class="container-fluid" style="padding-top: 50px;">
    <address>
        <strong>Full Name</strong><br>
        Nguyen Duc Dung
    </address>

    <address>
        <strong>Email:</strong><br>
        dungvn3000@@gmail.com
    </address>
</div>

</body>
</html>