@import partials._

<!DOCTYPE html>
<html>
<head>
    <title>@Messages("application.title")</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico">

    <!--Style Sheet-->
    <link rel="stylesheet" media="screen" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/assets/css/home.css">

    <script src="/assets/js/lib/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/lib/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/assets/js/lib/jquery.layout-latest.min.js" type="text/javascript"></script>
    <script src="/assets/js/lib/jquery.nicescroll.min.js" type="text/javascript"></script>
    <script src="/assets/js/lib/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/lib/ace/ace.js" type="text/javascript"></script>
    <script src="/assets/js/lib/jquery.blockUI.js" type="text/javascript"></script>
</head>
<body>

<div id="topmenu" class="navbar navbar-fixed-top">
    @navbar()
</div>

<div class="ui-layout-north">
    <form class="form-inline" style="padding-top: 50px;">
        <input id="url" type="text" class="input-xlarge" name="url" placeholder="Url">
        <a id="parseBtn" class="btn btn-primary">Parse</a>
    </form>
</div>

<div class="ui-layout-west">
    <div class="left-col" id="left-col"></div>
</div>

<div class="ui-layout-center">
    <div class="right-col"></div>
</div>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('body').layout({
            autoResize: true,
            closable: false,
            north__size: 100,
            north__resizable: false,
            west__size: '50%'
        });
        var editor = ace.edit("left-col");
        editor.setFontSize(14);
        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/html");
        $('#parseBtn').click(function () {
            $.blockUI();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/parseUrl',
                data: {url: $('#url').val()},
                success: function (data) {
                    editor.setValue(data.html);
                    $('.right-col').html(data.text);
                },
                error: function() {
                    alert("Somg thing go wrong");
                }
            })
        });
        $(document).ajaxStop($.unblockUI);
    });
</script>
</html>
