@(html: Option[String] = None, text: Option[String] = None)
@import partials._

<!DOCTYPE html>
<html>
<head>
    <title>@Messages("application.title")</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico">

    <!--Style Sheet-->
    <link rel="stylesheet" media="screen" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/assets/css/home.css">

    <script src="/assets/js/lib/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/lib/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/assets/js/lib/jquery.layout-latest.min.js" type="text/javascript"></script>
    <script src="/assets/js/lib/jquery.nicescroll.min.js" type="text/javascript"></script>
    <script src="/assets/js/lib/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>

<div id="topmenu" class="navbar navbar-fixed-top">
    @navbar()
</div>

<div class="ui-layout-north">
    <form class="form-inline" action="/parse" method="GET" style="padding-top: 50px;">
        <input type="text" class="input-xlarge" name="url" placeholder="Url">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="ui-layout-west">
    @html.getOrElse("")
</div>

<div class="ui-layout-center">
    @text.getOrElse("")
</div>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('body').layout({
            autoResize: true,
            closable: false,
            north__size: 100,
            north__resizable: false,
            west__size: '50%'
        });
        var opt1 = {
            autohidemode: false,
            cursorfixedheight: 50,
            cursoropacitymax: 0.5,
            cursorborder: "0"
        };

        var opt2 = {
            autohidemode: false,
            cursorfixedheight: 50,
            cursoropacitymax: 0.5,
            cursorborder: "0"
        };

        $('.ui-layout-west').niceScroll(opt1);
        $('.ui-layout-center').niceScroll(opt2);
    });

</script>
</html>
