html, body, .container-fluid {
    height: 100%;
}

.header {
    padding-top: 50px;
}

.content {
    height: 85%;
}

.content div {
    height: 100%;
    width: 100%;
}

.left-col, .right-col {
    border: 1px solid;
    overflow:	auto;
}

iframe {
    padding:	0 !important; /* iframes should not have padding */
    overflow:	auto !important;
}

.ui-layout-mask {
    background:	#C00 !important;
    opacity:	.20 !important;
    filter:		alpha(opacity=20) !important;
}

.ui-layout-resizer-west {
    background: #cfcfcf;
    border-right: 1px solid gray;
}

.nicescroll-rails {
    background: #cfcfcf;
    border-right: 1px solid gray;
}